.details-list li:not(:last-child){
    margin-bottom: 1rem;
  }

.host-info{
    display: flex;
    justify-content: center;
}

.host-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}