/* Hero Section */

.hero {
    font-family: var(--font-great-vibes);
      position: relative;
      height: 100dvh;
      width: 100vw;
      color: white;
      background: white;
      text-align: center;
      max-width: 560px;
      max-height: fit-content;
      margin: 0 auto;
      padding: 24px 16px;
    }
    
    .hero-content img {
        object-fit: cover;
      object-position: center;
     max-height: 500px;
    }
    
    .overlay {
      backdrop-filter: blur(5px);
      width: 100%;
      color: black;
      padding-top: 1rem;
    }
    
    .overlay h1 {
      font-family: 'Great Vibes', cursive; /* Fancy font for names */
      font-size: 2rem;
    }
    
    .overlayText {
      font-size: 1.5rem;
    }

    .quote {
        font-style: italic;
        font-size: 1.2rem;
      }

      @media screen and (min-width: 852px){
        .overlay h1 {
            /* font-size: 4rem; */
            transform: none;
          }
    }
    