
.main {
    font-family: var(--font-cormorant-infant);
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}


/* Form Section */

.wedding-form {
  display: grid;
  gap: 20px;
}

.wedding-form label {
  font-weight: bold;
  font-family: 'Quicksand', sans-serif; /* Body font for labels */
}

.wedding-form input, .wedding-form select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif; /* Body font for form inputs */
}

.submit-btn {
  background-color: #f1c40f;
  color: white;
  padding: 15px 30px;
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif; /* Body font for button */
}

.submit-btn:hover {
  background-color: #d9b00f;
}

/* Invitation Text Section */

.invitation-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.invitation-text p {
  font-size: 1.2rem;
  color: #333;
  font-family: 'Quicksand', sans-serif; /* Body font for invitation text */
}

/* Map Section */
.map-section {
  padding: 50px;
  text-align: center;
  background-color: #fff;
}

#map {
  height: 400px;
  width: 100%;
  background-color: #ddd;
}

.approve-text{
    margin-bottom: 1.5rem;
}

/* Buttons Section */
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.calendar-btn, .accept-btn {
  background-color: #f1c40f;
  color: white;
  padding: 15px 30px;
  /* border: none; */
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif; /* Body font for buttons */
  display: inline-block;
  text-align: center;
}

.calendar-btn:hover, .accept-btn:hover {
  background-color: #d9b00f;
}

@media screen and (min-width: 852px){
}
