
.main {
    font-family: var(--font-cormorant-infant);
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.icons {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

/* Hero Section */

.hero {
font-family: var(--font-great-vibes);
  position: relative;
  height: 100vh;
  background-color: #000;
  width: 100vw;
  /* background-image: url('../../public/images/hero.jpg');
  background-size: cover;
  background-position: center; */
  color: white;
  text-align: center;
}

.hero-content img {
    object-fit: cover;
  object-position: center;
  object-position: 50% 20%;
}

.overlay {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  z-index: 1;
}

.overlay h1 {
  font-family: 'Great Vibes', cursive; /* Fancy font for names */
  font-size: 2rem;
}

.overlay p {
  font-size: 1.5rem;
}

.quote {
  font-style: italic;
  font-size: 1.2rem;
}

/* Language Selector */
.language-selector {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.language-selector button {
  background-color: #f1c40f;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.language-selector button:hover {
  background-color: #d9b00f;
}

/* Greeting Section */

.greeting-section h2 {
}

/* Form Section */
.form-section {

}

.form-section h2 {
}

.wedding-form {
  display: grid;
  gap: 20px;
}

.wedding-form label {
  font-weight: bold;
  font-family: 'Quicksand', sans-serif; /* Body font for labels */
}

.wedding-form input, .wedding-form select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif; /* Body font for form inputs */
}

.submit-btn {
  background-color: #f1c40f;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif; /* Body font for button */
}

.submit-btn:hover {
  background-color: #d9b00f;
}

/* Schedule Section */
.schedule-section {
}

.schedule-section h2 {
  
}

.schedule-list {
  list-style: none;
  font-size: 1.2rem;
  color: #333;
  padding: 0;
  text-align: left;
}

.schedule-list li {
  margin-bottom: 20px;
  line-height: normal;
  display: flex;
  align-items: center;
}

.schedule-list li:last-child{
    margin-bottom: 0;
}

.schedule-list strong {
  color: #f1c40f;
  margin-right: 0.5rem;
}

/* Invitation Text Section */
.invitation-text, .dressCode-section {

}

.invitation-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.invitation-text p {
  font-size: 1.2rem;
  color: #333;
  font-family: 'Quicksand', sans-serif; /* Body font for invitation text */
}

/* Map Section */
.map-section {
  padding: 50px;
  text-align: center;
  background-color: #fff;
}

#map {
  height: 400px;
  width: 100%;
  background-color: #ddd;
}

/* Buttons Section */
.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.calendar-btn, .accept-btn {
  background-color: #f1c40f;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Quicksand', sans-serif; /* Body font for buttons */
  display: inline-block;
  text-align: center;
}

.calendar-btn:hover, .accept-btn:hover {
  background-color: #d9b00f;
}

.details-list li:not(:last-child){
  margin-bottom: 1rem;
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
  font-family: 'Quicksand', sans-serif; /* Body font for footer */
}

.button-wrapper {
    
}

@media screen and (min-width: 852px){
    .overlay {
        left: 0;
        right: 2rem;
    };
    .overlay h1 {
        font-size: 4rem;
        transform: none;
      }
}
