/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background: #152331;
    background: linear-gradient(
    to right,
    #152331,#000000
  );
    color: white;
    font-family: 'Quicksand', sans-serif; /* Body font for footer */
    line-height: normal;
    font-size: small;
  }